<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liudong.dao.BloodTypeMapper">
  <resultMap id="BaseResultMap" type="com.liudong.pojo.BloodType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="blood_type_name" jdbcType="VARCHAR" property="bloodTypeName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, blood_type_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from blood_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blood_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liudong.pojo.BloodType">
    insert into blood_type (id, blood_type_name)
    values (#{id,jdbcType=INTEGER}, #{bloodTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liudong.pojo.BloodType">
    insert into blood_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bloodTypeName != null">
        blood_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bloodTypeName != null">
        #{bloodTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liudong.pojo.BloodType">
    update blood_type
    <set>
      <if test="bloodTypeName != null">
        blood_type_name = #{bloodTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liudong.pojo.BloodType">
    update blood_type
    set blood_type_name = #{bloodTypeName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>