<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liudong.dao.DetailedAddressMapper">
  <resultMap id="BaseResultMap" type="com.liudong.pojo.DetailedAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pcode" jdbcType="VARCHAR" property="pcode" />
    <result column="ccode" jdbcType="VARCHAR" property="ccode" />
    <result column="acode" jdbcType="VARCHAR" property="acode" />
    <result column="township" jdbcType="VARCHAR" property="township" />
    <result column="village" jdbcType="VARCHAR" property="village" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pcode, ccode, acode, township, village
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from detailed_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from detailed_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liudong.pojo.DetailedAddress">
    insert into detailed_address (id, pcode, ccode, 
      acode, township, village
      )
    values (#{id,jdbcType=INTEGER}, #{pcode,jdbcType=VARCHAR}, #{ccode,jdbcType=VARCHAR}, 
      #{acode,jdbcType=VARCHAR}, #{township,jdbcType=VARCHAR}, #{village,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liudong.pojo.DetailedAddress">
    insert into detailed_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pcode != null">
        pcode,
      </if>
      <if test="ccode != null">
        ccode,
      </if>
      <if test="acode != null">
        acode,
      </if>
      <if test="township != null">
        township,
      </if>
      <if test="village != null">
        village,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pcode != null">
        #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="ccode != null">
        #{ccode,jdbcType=VARCHAR},
      </if>
      <if test="acode != null">
        #{acode,jdbcType=VARCHAR},
      </if>
      <if test="township != null">
        #{township,jdbcType=VARCHAR},
      </if>
      <if test="village != null">
        #{village,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liudong.pojo.DetailedAddress">
    update detailed_address
    <set>
      <if test="pcode != null">
        pcode = #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="ccode != null">
        ccode = #{ccode,jdbcType=VARCHAR},
      </if>
      <if test="acode != null">
        acode = #{acode,jdbcType=VARCHAR},
      </if>
      <if test="township != null">
        township = #{township,jdbcType=VARCHAR},
      </if>
      <if test="village != null">
        village = #{village,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liudong.pojo.DetailedAddress">
    update detailed_address
    set pcode = #{pcode,jdbcType=VARCHAR},
      ccode = #{ccode,jdbcType=VARCHAR},
      acode = #{acode,jdbcType=VARCHAR},
      township = #{township,jdbcType=VARCHAR},
      village = #{village,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>