<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liudong.dao.ReligiousBeliefMapper">
  <resultMap id="BaseResultMap" type="com.liudong.pojo.ReligiousBelief">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="religious_belief_name" jdbcType="VARCHAR" property="religiousBeliefName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, religious_belief_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from religious_belief
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from religious_belief
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liudong.pojo.ReligiousBelief">
    insert into religious_belief (id, religious_belief_name)
    values (#{id,jdbcType=INTEGER}, #{religiousBeliefName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liudong.pojo.ReligiousBelief">
    insert into religious_belief
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="religiousBeliefName != null">
        religious_belief_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="religiousBeliefName != null">
        #{religiousBeliefName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liudong.pojo.ReligiousBelief">
    update religious_belief
    <set>
      <if test="religiousBeliefName != null">
        religious_belief_name = #{religiousBeliefName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liudong.pojo.ReligiousBelief">
    update religious_belief
    set religious_belief_name = #{religiousBeliefName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>