<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--设置日志-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--把映射级别改成全映射-->
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>
    
    <typeAliases>
        <package name="com.liudong.pojo"/>
    </typeAliases>
    <!--<mappers>
        <mapper class="mapper/*.mxl"></mapper>
    </mappers>-->
    <plugins><!--分页插件-->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>

        </plugin>
    </plugins>
</configuration>