body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:315px;
  width:566px;
  height:97px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:30px;
  width:671px;
  height:65px;
  font-size:28px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:667px;
  word-wrap:break-word;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:197px;
  width:101px;
  height:25px;
  color:#FF0000;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:197px;
  width:300px;
  height:25px;
}
#u496_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:263px;
  width:101px;
  height:25px;
  color:#FF0000;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1033px;
  width:899px;
  height:70px;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:1046px;
  width:342px;
  height:44px;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:338px;
  word-wrap:break-word;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:268px;
  width:56px;
  height:16px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u500_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:268px;
  width:56px;
  height:16px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u501_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:268px;
  width:56px;
  height:16px;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u502_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:268px;
  width:56px;
  height:16px;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u503_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:268px;
  width:56px;
  height:16px;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u504_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:331px;
  width:101px;
  height:25px;
  color:#FF0000;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:331px;
  width:91px;
  height:25px;
}
#u506_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:331px;
  width:73px;
  height:25px;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:331px;
  width:91px;
  height:25px;
}
#u508_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:331px;
  width:73px;
  height:25px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:331px;
  width:91px;
  height:25px;
}
#u510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:331px;
  width:126px;
  height:25px;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  word-wrap:break-word;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:372px;
  width:91px;
  height:25px;
}
#u512_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:372px;
  width:73px;
  height:25px;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:372px;
  width:91px;
  height:25px;
}
#u514_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:372px;
  width:73px;
  height:25px;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:372px;
  width:91px;
  height:25px;
}
#u516_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:372px;
  width:73px;
  height:25px;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:428px;
  width:101px;
  height:25px;
  color:#000000;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:428px;
  width:148px;
  height:25px;
}
#u519_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:428px;
  width:101px;
  height:25px;
  color:#FF0000;
}
#u520_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:521px;
  width:300px;
  height:25px;
}
#u521_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:117px;
  width:87px;
  height:25px;
}
#u522_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:117px;
  width:87px;
  height:25px;
}
#u523_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:117px;
  width:103px;
  height:25px;
}
#u524_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:117px;
  width:82px;
  height:25px;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:117px;
  width:87px;
  height:25px;
}
#u526_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:117px;
  width:103px;
  height:25px;
}
#u527_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:428px;
  width:280px;
  height:25px;
}
#u528_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:521px;
  width:101px;
  height:25px;
  color:#FF0000;
}
#u529_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:474px;
  width:101px;
  height:25px;
  color:#000000;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:479px;
  width:56px;
  height:16px;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u531_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:479px;
  width:56px;
  height:16px;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u532_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:479px;
  width:56px;
  height:16px;
}
#u533_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u533_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:479px;
  width:70px;
  height:16px;
}
#u534_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u534_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:479px;
  width:56px;
  height:16px;
}
#u535_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u535_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:646px;
  width:101px;
  height:25px;
  color:#000000;
}
#u536_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:571px;
  width:83px;
  height:16px;
}
#u537_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u537_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:571px;
  width:83px;
  height:16px;
}
#u538_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u538_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:571px;
  width:83px;
  height:16px;
}
#u539_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u539_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:571px;
  width:83px;
  height:16px;
}
#u540_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u540_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:571px;
  width:83px;
  height:16px;
}
#u541_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u541_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:646px;
  width:216px;
  height:25px;
}
#u542_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:603px;
  width:101px;
  height:25px;
  color:#000000;
}
#u543_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:603px;
  width:307px;
  height:25px;
}
#u544_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:646px;
  width:101px;
  height:25px;
  color:#000000;
}
#u545_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:646px;
  width:96px;
  height:25px;
}
#u546_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:842px;
  width:101px;
  height:25px;
  color:#000000;
}
#u547_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:697px;
  width:98px;
  height:16px;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u548_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:697px;
  width:76px;
  height:16px;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u549_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:697px;
  width:70px;
  height:16px;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u550_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:697px;
  width:162px;
  height:16px;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u551_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:697px;
  width:70px;
  height:16px;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u552_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:757px;
  width:122px;
  height:16px;
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u553_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:757px;
  width:72px;
  height:16px;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u554_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:757px;
  width:162px;
  height:16px;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u555_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:757px;
  width:198px;
  height:16px;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u556_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:723px;
  width:122px;
  height:16px;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u557_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:723px;
  width:177px;
  height:16px;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u558_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:723px;
  width:162px;
  height:16px;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u559_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:723px;
  width:70px;
  height:16px;
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u560_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:783px;
  width:168px;
  height:16px;
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u561_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:783px;
  width:162px;
  height:16px;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u562_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:783px;
  width:58px;
  height:16px;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u563_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:783px;
  width:198px;
  height:16px;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u564_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:815px;
  width:168px;
  height:16px;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u565_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:815px;
  width:168px;
  height:16px;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u566_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:815px;
  width:168px;
  height:16px;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u567_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:693px;
  width:101px;
  height:25px;
  color:#000000;
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:851px;
  width:98px;
  height:16px;
}
#u569_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u569_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:851px;
  width:76px;
  height:16px;
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u570_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:851px;
  width:70px;
  height:16px;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u571_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:851px;
  width:162px;
  height:16px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u572_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:886px;
  width:101px;
  height:25px;
  color:#000000;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:891px;
  width:98px;
  height:16px;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u574_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:891px;
  width:80px;
  height:16px;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u575_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:891px;
  width:76px;
  height:16px;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u576_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:891px;
  width:70px;
  height:16px;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u577_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:891px;
  width:78px;
  height:16px;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u578_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:891px;
  width:100px;
  height:16px;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u579_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:930px;
  width:101px;
  height:25px;
  color:#000000;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:930px;
  width:96px;
  height:25px;
}
#u581_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:850px;
  height:6px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:163px;
  width:847px;
  height:3px;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:987px;
  width:99px;
  height:29px;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:987px;
  width:99px;
  height:29px;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:568px;
  width:101px;
  height:25px;
  color:#000000;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:14px;
  width:68px;
  height:16px;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:14px;
  width:75px;
  height:16px;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:30px;
  width:43px;
  height:18px;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:39px;
  word-wrap:break-word;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:48px;
  width:47px;
  height:18px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:43px;
  word-wrap:break-word;
}
#u590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:66px;
  width:52px;
  height:17px;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
